fastapi
uvicorn
python-dotenv

# PDF processing
pymupdf

# Embeddings + LLM
sentence-transformers
langchain
langchain-google-genai

# Vector DB
weaviate-client

# Reranking
cohere

# Utilities
numpy
pandas
tqdm
python-multipart

# LangChain document loading and text splitting
langchain-community
langchain-text-splitters

# LangGraph workflow orchestrator
langgraph
